@charset "utf-8";

/* Header Styles */

/* Banner */
.banner {
    background-color: #666666;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding: 14em 0;
    text-align: center;
    position: relative;
    background-image: url("../../images/1.jpg");
}
  
.banner h2.logo {
    color: #fff;
    font-size: 3.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}
  
.banner p {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 2em;
}
  
.banner p a {
    color: #ffffff;
    text-decoration: none;
}
  
.bg{
    background-size: cover;
    background-attachment: fixed;
    height: 20em;
    width: 100%;
  }
  
.bg1{
    background-image: url('../../images/2.jpg');
}
  
.bg2{
    background-image: url('../../images/3.jpg');
  }
  
.bg3{
    background-image: url('../../images/4.jpg');
}
  
.bg4{
    background-image: url('../../images/05.jpg');
}

/* Content */

section {
    margin-top: 2em;
}
  

/* Wrapper */

.wrapper {
    margin-bottom: 5em;
    padding: 5em;
}

.wrapper.style1 {
    padding: 0;
}

/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
}

.container-small{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
}

section.special, article.special {
    text-align: center;
}

.row {
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
 
.align_right{
    text-align-last: right;
}
    
.align_center{
    text-align-last: center;
}

/* featured */
.featured {
    padding: 1.8em 1em;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    background: #93B876;
}
.featured i{
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
}
.nav-wrapper {
    position: fixed;
    z-index: 100;
}

.plan {
    text-shadow: 0 1px rgba(10, 6, 6, 0.8);
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 1em;
    float: left;
    width: 33%;
    position: relative;
}

.button, .plan .signup {
    position: relative;
    padding: 8px 20px;
    margin: 50px 0 0 0;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #93B876;
    background-image: linear-gradient(#93B876, #62bc30);
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

.pricing-table .most-popular {
    z-index: 2;
    top: -13px;
    border-width: 3px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}

.pricing-table h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
}
  
.pricing-table .most-popular h3 {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    margin-top: -30px;
    padding-top: 30px;
    border-radius: 5px 5px 0 0;
}

.pricing-table h3 span {
    display: block;
    font: bold 25px/100px Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    margin: 10px auto -65px;
    border-radius: 50%;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  }

.pricing-table ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}
  
.pricing-table li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.button:hover,.signup:hover {
    background-color: #62bc30;
    background-image: linear-gradient(#62bc30, #72ce3f);
}
  
.button:focus, .button:active,.signup:active, .signup:focus {
    background: #62bc30;
    top: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
}

.plan:nth-child(1) {
    border-radius: 5px 0 0 5px;
  }
  
.plan:nth-child(3) {
    border-radius: 0 5px 5px 0;
}

.grid {
    padding: 10px 10px 10px 10px;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
  
.grid li {
    display: inline-block;
    width: 45%;
    margin: 0;
    padding: 10px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}
  
.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
  
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    background: #93B876;
    color: #deedde;
  }
  
.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption h3:before {
    content: 'I ♥ ';
}
  
.grid figcaption a {
    position: absolute; 
    left: 120px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    background: #056d1a;
    color: #fff;
}

/* Caption */
.caption-hover figure {
    overflow: hidden;
}

.caption-hover figure img {
    transition: transform 0.4s;
  }
  
.caption-hover figure:hover img  {
    transform: translateY(-50px);
}
  
.caption-hover figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
  
.caption-hover figure:hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
}
  

/* Links Анимация начинается и заканчивается медленно. */
ul.nav li a {
     -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
     -o-transition: color .2s ease-in-out;
     -ms-transition: color .2s ease-in-out;
     transition: color .2s ease-in-out;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
    
}
   
ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}
   
ul.actions li:last-child {
     padding-right: 0;
}

